* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    margin-bottom: 10px;
}
body {
    background: linear-gradient(0deg, #0b0a14, rgb(30, 0, 30));
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    scrollbar-width: thin;
}
button {
    cursor: pointer;
    background: rgba(168, 85, 247, 0.15);
    border: 1px solid #a855f7;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 15px;
    width: 95px;
    height: 30px;
    transition: 0.5s;
}
button:hover {
    background: rgba(168, 85, 247, 0.25);
    box-shadow: 0 0 10px #a855f780;
    transform: translateY(-3) scale(1.05);
}
button svg {
    margin-right: 3px;
    font-size: 12px;
}
.tecnologias {
    font-family: monospace;
    font-size: 16px;
}
::selection {
    background-color: rgba(255, 0, 255, 0.4);
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid #ffffff20;
    border-radius: 10px;
}
html {
    scroll-behavior: smooth;
}
nav {
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid #ffffff20;
    border-radius: 8px;
    top: 5px;
    left: 5px;
    right: 5px;
    backdrop-filter: blur(5px);
    position: fixed;
    padding: 10px;
    text-align: center;
}
a {
    display: inline-flex;
    align-items: center;
    gap: 2px;
    cursor: pointer;
    font-size: 16px;
    margin-inline: 5px;
    color: white;
    transition: 0.5s;
    text-decoration: none;
    font-weight: 500;
}
a:hover {
    color: rgb(255, 0, 255);
}
#hero,
#projetos,
#sobre {
    padding-top: 50px;
}
#sobre,
#contatos {
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 5px;
    width: 300px;
    margin: 70px auto;
}

.projetos-intro {
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 5px;
    padding: 15px;
}
#contatos {
    padding-block: 40px;
}
footer {
    text-align: center;
}
.main {
    text-align: center;
    margin-bottom: 30px;
}
p {
    max-width: 300px;
    margin: 15px auto;
}
.img {
    border: 1px solid black;
    border-radius: 5px;
    width: 250px;
    height: 150px;
}
.card {
    background: #141223a6;
    border: 1px solid #a855f740;
    border-radius: 5px;
    box-shadow: 0 0 20px #a855f720;
    padding-block: 30px;
    padding-inline: 20px;
    width: 300px;
    margin: 30px auto;
}
.background {
    position: fixed;
    inset: 0;
    overflow: hidden;
    z-index: -1;
}
.blob {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;

    filter: blur(70px);

    opacity: 0.18;
}
.blob1 {
    background: #a855f7;
    animation: flutuar 18s ease-in-out infinite;
    top: -150px;
    left: -150px;
}

.blob2 {
    background: #7c3aed;
    animation: flutuar 24s ease-in-out infinite;
    top: 200px;
    right: -150px;
}

.blob3 {
    background: #3b82f6;
    animation: flutuar 28s ease-in-out infinite;
    bottom: -150px;
    left: 30%;
}
@keyframes flutuar {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(50px, -40px);
    }

    50% {
        transform: translate(-30px, 30px);
    }

    75% {
        transform: translate(40px, 60px);
    }

    100% {
        transform: translate(0, 0);
    }
}
@media (min-width: 1080px) {
    a {
        margin-inline: 10px;
    }
    p {
        max-width: 700px;
        padding: 15px;
    }
    .img {
        width: 350px;
        height: 200px;
    }
    .card {
        width: 500px;
    }
    #sobre,
    #contatos {
        width: 500px;
    }
    .projetos-container {
        display: grid;
        grid-template-columns: 2fr 2fr;
    }
}
